
@section Scripts {
    <script src="~/js/projectScripts/rss.js"></script>
}


<form style="margin-left:150px;padding-top:100px;">
    <div class="mb-3">
        <input type="text" class="form-control" id="insert_category_name" placeholder="Category Name">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="insert_rss_link" placeholder="RSS Link">
    </div>
    
    <button type="button" id="insert_rss_button" class="btn btn-primary">Ekle</button>
</form>





